.w-notify {
  position: absolute;
  left: 50%;
  bottom: 1.5rem;
  transform: translate(-50%, -50%);
  width: 90%;
  max-height: 120px;
  display: flex;

  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  overflow: auto;
  z-index: 2;
  border-radius: 12px;
  background-color: transparent;
  flex-wrap: nowrap;

  .w-n-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    .w-n-i-name {
      // background-color: rgb(245, 101, 101);
      height: 50px;
      width: 50px;
      border-radius: 8px;
      display: grid;
      place-items: center;

      h4 {
        font-size: clamp(5px, 8vw, 9px);
        line-height: 0.9rem;
        color: var(--white);
      }
      h3 {
        font-size: clamp(5px, 8vw, 16px);
        line-height: 1rem;
        color: rgb(245, 101, 101);
      }
    }
    .w-n-i-value {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h3 {
        font-size: clamp(5px, 8vw, 13px);
        line-height: 1rem;
        color: rgb(245, 101, 101);
      }
      small {
        font-size: clamp(5px, 4vw, 9px);
        color: rgb(245, 101, 101);
        line-height: 0.8rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        white-space: normal;

        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;
      }
    }
  }
  .w-n-time {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: clamp(5px, 4vw, 9px);
    line-height: 0.8rem;
    color: var(--grey);
  }
  @include md {
    left: 3rem;
    top: 50%;
    transform: translate(0, -50%);
    flex-direction: column;
    justify-content: center;
    width: 180px;
    max-height: 85vh;
    flex-wrap: wrap;
  }
}

/* -----------------NOTIFY-SENSOR---------------------------*/
/*---------------------------------------------------*/

.c-success,
.c-undefined {
  display: none !important;
}

.c-warning {
  background-color: #ff9f0a;
  .n-i-ubi {
    background-color: #3c2b12;
  }
}

.c-danger {
  background-color: #d63232;
  animation: tdError 0.25s ease-in-out infinite;
  .n-i-ubi {
    background-color: #321818;
  }
}

.notify-item {
  border-radius: 12px;
  padding: 0.8rem 0.45rem 0.5rem 0.45rem;
  color: var(--white);
  
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    font-size: clamp(7px, 8vw, 10.5px);
    line-height: 0.8rem;
    color: var(--white);
    margin-bottom: 0.2rem;
  }
  h3 {
    font-size: clamp(7px, 8vw, 18px);
    line-height: 1.1rem;
    color: var(--white);
    font-weight: 500;
  }
  .n-i-ubi {
    width: 100%;
    border-radius: 8px;
    padding: 0.4rem 0.2rem;
    text-align: center;
    margin-top: 0.3rem;
    display: grid;
    p {
      font-size: clamp(7px, 8vw, 10px);
      line-height: 0.7rem;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
      white-space: normal;
      max-width: 60px;
      margin-bottom: 0;
    }
  }
}

@keyframes tdError {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}

/* -----------------SENSORES---------------------------*/
/*---------------------------------------------------*/

// .c-success {
//   visibility: hidden;
//   svg {
//     fill: #0bb97d;
//     display: block;
//     .fil2 {
//       fill: #00b979;
//     }
//   }
//   h3,
//   span {
//     color: #01b475;
//   }
// }

// .c-undefined {
//   display: none !important;
// }
// .c-warning {
//   svg {
//     fill: #e6c700;
//     display: block;
//     .fil2 {
//       fill: #e6c700;
//     }
//   }
//   h3,
//   span {
//     color: #e6c700;
//   }
// }

// .c-danger {
//   svg {
//     fill: #ff1437;
//     display: block;
//     .fil2 {
//       fill: #c7001e;
//     }
//   }
//   h3,
//   span {
//     color: #ff1437;
//   }
//   animation: error 0.25s ease-in-out infinite;
// }
