.c-header {
  width: 100%;
  height: 8vh;
  top: 0;
  padding: 2vh 2vw;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  gap: 2rem;

  .logo {
    height: 100%;
    display: grid;
    place-items: center;
    padding: 0 1rem;
    img {
      width: 5rem;
      animation: glitch 6s ease-in-out infinite;
      @include md {
        width: 9.5rem;
      }
    }
  }

  .navbar {
    height: 45px;

    align-items: center;
    padding: 10px 5px;
    display: none;
    // background-color: var(--white);
    // border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.438);
    border-radius: 12px;
    border: 1px solid var(--white);

    ul {
      width: 100%;
      height: 35px;
      list-style-type: none;
      padding: 0;
      display: flex;
      list-style: none;

      li {
        height: 100%;
        display: flex;
        align-items: center;
        font-size: clamp(7px, 8vw, 12.5px);
        position: relative;
        transition: 0.35s ease-in-out all;
        cursor: pointer;
        min-width: 100px;
        justify-content: center;
        border-radius: 10px;
        padding: 0 12px;

        &:hover {
          background-color: var(--white);
          a {
            color: var(--black);
            font-weight: 500;
            width: 100%;
            height: 100%;
            display: grid;
            place-items: center;
          }
        }
        a {
          color: var(--black);
          width: 100%;
          height: 100%;
          display: grid;
          place-items: center;
        }
      }
    }
    @include md {
      display: flex;
    }
  }
  .admAvatar {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 1.25rem;
    gap: 0.5rem;
    background-color: var(--black);
    border-radius: 12px;
    .web-name {
      img {
        height: 1.2rem;
        color: var(--white);
        font-size: clamp(5px, 8vw, 12px);
        text-transform: uppercase;
        @include md {
          font-size: clamp(7px, 8vw, 12.5px);
        }
      }
    }
    .avatar {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;

        @include md {
          gap: 0.5rem;
        }

        .dropdown {
          position: relative;
          display: inline-block;
          transition: 0.35s ease-in-out all;
          display: flex;
          .menu {
            width: 0.8em;
          }
          .dropdownButton {
            padding: 0;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            cursor: pointer;
            transition: 0.25s ease-in-out all;
            svg {
              width: 1rem;
              fill: var(--white);
              @include md {
                width: 1.5rem;
                height: 1.5rem;
              }
            }
            span {
              color: var(--white);
              display: none;
              font-size: clamp(7px, 8vw, 12.5px);
              @include md {
                display: flex;
              }
            }
          }

          .dropdownContent {
            position: absolute;
            background-color: #edf1f3;
            border-radius: 12px;
            border: 1px solid var(--white);
            min-width: 150px;
            top: 170%;
            right: 0;
            z-index: 9;

            padding: 5px;
            box-shadow: 0 1px 4px 1px var(--grey-light-2),
              0 1px 3px var(--grey-light-3);
            overflow: auto;
            li {
              font-size: clamp(5px, 8vw, 13px);
              display: flex;
              border-radius: 8px;
              padding: 0 12px;
              transition: 0.25s ease-in-out all;
              a {
                height: 35px;
                width: 100%;
                display: grid;
                place-items: center;
                justify-content: start;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 170px;
              }
              &:hover {
                background-color: var(--white);
                a {
                }
              }
            }

            .Logout {
              display: flex;
              align-items: center;
              gap: 0.5rem;
              height: 30px;
              padding: 1rem;
              svg {
                width: 1rem;
                height: 1rem;
              }
            }

            @include md {
            }
          }
        }
      }
    }

    @include md {
      gap: 1rem;
      padding: .8rem 1.25rem;
      height: 45px;
    }
  }
  @include md {
    height: 10vh;
  }
}

@keyframes glitch {
  0% {
    transform: translateX(0);
    animation-duration: 0.001s;
  }

  1.5% {
    transform: translateX(-7px) rotateY(-10deg);
    animation-duration: 0.02s;
  }

  2.5% {
    transform: translateX(6px) rotateY(8deg);
    animation-duration: 0.025s;
  }

  4.5% {
    transform: translateX(-4px) rotateY(-6deg);
    animation-duration: 0.02s;
  }

  6.5% {
    transform: translateX(3px) rotateY(4deg);
    animation-duration: 0.025s;
  }

  9%,
  100% {
    transform: translateX(0);
    animation-duration: 10s;
    transform: translateX(0);
  }
}

.sp-acti {
  position: relative;
  background-color: var(--white);
  a {
    color: var(--black);
    font-weight: 500;
  }
}

.sp-desact {
  a {
    color: var(--black);
  }
}

.none {
  display: flex;
  @include md {
    display: none;
  }
}
