.L-Home {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #121316;
  .Login-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    z-index: 1;
    max-width: 400px;
    width: 100%;
    img {
      width: 6.8rem;
      height: 6.8rem;
    }

    .Login-title {
      color: #fffffff3;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
    font {
      margin-top: 1.5rem;
      color: var(--grey);
      font-size: clamp(5px, 8vw, 13.5px);
      white-space: pre-line;
      color: rgba(255, 255, 255, 0.4);
      text-align: center;
      font-weight: normal;
      line-height: 1.2rem;
      strong {
        color: #ffffff99;
      }
    }

    .L-c-dig {
      margin: 1.5rem 0;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .inputs {
        display: flex;
        gap: 0.5rem;
        .input {
          width: 40px;
          height: 48px;
          padding: 0;
          background-color: #ffffff08;
          border: 1.5px solid transparent;
          text-align: center;
          color: #ffffff66;
          font-size: clamp(6px, 8vw, 18px);

          @include md {
            font-size: clamp(8px, 8vw, 20px);
            letter-spacing: 0.07em;
          }

          &:focus {
            color: var(--white);
            border: 1.5px solid var(--primary);
          }
        }

        // .input[type="password"].input:required:invalid {
        //    border: 1px solid #5d0b1e;
        //  }
      }
    }
  }
  .Login-access {
    position: absolute;
    width: 100%;
    background-color: #000e1b;
    text-align: center;
    margin-top: 1rem;
    padding: 1rem 0;
    left: 0;
    color: var(--white);
    font-weight: normal;
    font-size: clamp(5px, 8vw, 11px);
    transition: ease-in-out 0.35s all;
    strong {
      font-weight: normal;
    }
    @include md {
      padding: 1rem;
    }
  }
}

.btn-success {
  width: 100%;
  background-color: #ffffff08;
  font-size: clamp(5.5px, 8vw, 12px);
  font-weight: 400;
  border-radius: 10px;
  height: 40px;
  padding: 0 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  max-width: 200px;
  color: #ffffff66;
  @include md {
    font-size: clamp(6.5px, 8vw, 12.5px);
    height: 40px;
  }
  &:hover {
    background-color: var(--secondary);
    color: var(--white);
  }
}

.error-login {
  position: absolute;
  left: 50%;
  bottom: 8rem;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  background-color: rgba(33, 34, 38, 0.95);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 12px 16px -4px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  backdrop-filter: blur(32px);
  border-radius: 10px;
  height: auto;
  max-width: unset;
  min-height: 40px;
  padding: 8px 13px;
  animation: 0.3s ease-in 0s 1 normal none running fadeIn;
  h4{
    line-height: 16px;
    font-size: clamp(5px, 8vw, 11.5px);
    color: rgba(255, 255, 255, 0.8);
    font-weight:normal;
  }
}

.error-hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out;
}

.error-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out;
}
