
.td-user {
  display: flex;
  align-items: center;
  gap: 1rem;
  .t-name{
    h4{
      font-size: clamp(6px, 8vw, 12.5px);
      line-height: 1rem;
    }
    h5{
      color: var(--grey);     
    }
  }
}

.btns {
  display: flex;
  justify-content: center;
  button {
    svg {
      width: 1.2rem;     
    }
  }
}