.Sensor-circle {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: .8rem;

  .is-menu-open & {
    animation: letter-flicker 0.45s linear;
    animation-delay: 1s;
    transition-delay: 0.5s;
  }

  .circle-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 7em;
    height: 7em;
    svg {
      position: absolute;
      width: 7em;
      height: 7em;
      z-index: 1;
      display: block;

      @include md {
        width: 8.6em;
        height: 8.6em;
      }
    }
    p {
      z-index: 2;
      line-height: 1rem;
    }
    h3 {
      z-index: 2;
      line-height: 1rem;
      font-weight: 700;
      text-align: center;
      padding: 6px 0 1px 0;
      @include md {
        line-height: 1.5rem;
        font-size: clamp(9px, 8vw, 20px);
      }
    }

    span {
      font-size: clamp(4px, 8vw, 8px);
      line-height: 0.5rem;
      @include md {
        font-size: clamp(5.5px, 8vw, 11px);
        line-height: 0.8rem;
      }
    }

    @include md {
      width: 8.6em;
      height: 8.6em;
    }
  }

  @include md {
  }
}

.se-success {
  svg {
    fill: #0ddc79;
    display: block;
    .fil2 {
      fill: #00b979;
    }
  }
  h3,
  span {
    color: #01b475;
  }
}

.se-warning {
  svg {
    fill: #e6c700;
    display: block;
    .fil2 {
      fill: #e6c700;
    }
  }
  h3,
  span {
    color: #e6c700;
  }
}

.se-danger {
  svg {
    fill: #ff1437;
    display: block;
    .fil2 {
      fill: #c7001e;
    }
  }
  h3,
  span {
    color: #ff1437;
  }
  animation: error 0.25s ease-in-out infinite;
}

.undefined {
  opacity: 0.4;
  svg {
    fill: var(--grey-1);
    display: block;
    .fil2 {
      fill: var(--grey-1);
    }
  }
  h3,
  span {
    color: var(--grey-1);
  }
  animation: rotate 0s ease-in-out !important;
}

@keyframes error {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}

.sensor-withC {
  background-color: rgba(10, 10, 10, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.35rem;
  border-radius: 12px;
  width: 80px;
  padding: 0.8rem 0.45rem 0.5rem 0.45rem;
  .s-w-content {
    display: grid;
    place-items: center;
    gap: 0.3rem;
    svg {
      width: 1.2rem;
      height: 1.2rem;
    }
    h4 {
      font-size: clamp(6px, 8vw, 13.5px);
      line-height: .8rem;
      font-weight: normal;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 65px;
      text-transform:uppercase;
    }
  }
  .s-w-ubi{
    width: 100%;
    border-radius: 5px;
    padding: 0.2rem;
    text-align: center;
    margin-top: 0.3rem;
    background-color: rgba(10, 10, 10, 0.1);
    display: grid;
    place-items: center;
    p{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 50px;
      font-size: clamp(7px, 8vw, 10.5px);
      line-height: 0.8rem;
    }
  }
  font {
    font-size: clamp(5px, 8vw, 10px);
    line-height: .6rem;
  }
}
