.w-Foot {
  width: auto;
  height: 3vh;
  bottom: 0;
  position: fixed;
  left: 6vw;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  .marquee-text {
    color: var(--grey);
    font-size: clamp(5px, 8vw, 9px);
    line-height: .8rem;
    @include md {
      font-size: clamp(6px, 8vw, 10px);
    }
  }
  @include md {
    height: 5vh;
    left: 4vw;
  }
}
